## Pandas

Pandas is a Python library for data analysis. It provides a high-performance, easy-to-use data structures and data analysis tools. Pandas is built on top of NumPy, which provides efficient storage and manipulation of dense data arrays in Python.

#### Contents

1. **Phase-1**  
    1.1. [**Initialization**](#basic-initialization)  
    1.2. [**Basic Operations** on DataFrame](#basic-operations-on-dataframe)  
    1.3. [**Mathematical Operations** on DataFrame](#mathematical-operations-on-dataframes)
2. [**Phase-2**](#phase-2)

#### Basic Initialization

In [ ]:
pip install pandas --upgrade --quiet

In [1]:
import pandas as pd

Get data

In [2]:
import urllib.request

urllib.request.urlretrieve(
    'https://gist.github.com/BirajCoder/a4ffcb76fd6fb221d76ac2ee2b8584e9/raw/4054f90adfd361b7aa4255e99c2e874664094cea/climate.csv', 
    'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x20334934950>)

**Series** is a 1 dimensional data structure, like a list or an array

**DataFrame** is a 2 dimensional data structure, like a table with rows and columns

In [4]:
df = pd.read_csv('climate.txt')
df

#### **Basic Operations** on `DataFrame`

In [32]:
# Shape of the dataframe
print(df.shape)

# Column names
print(df.columns)

# Data types of each column
print(df.dtypes)

# First 5 rows
print(df.head())

# Last 5 rows
print(df.tail())

# Summary statistics
print(df.describe())

# Information about the dataframe
print(df.info())

# Mean of each column
print(df.mean())

(10000, 3)
Index(['temperature', 'rainfall', 'humidity'], dtype='object')
temperature    float64
rainfall       float64
humidity       float64
dtype: object
   temperature  rainfall  humidity
0         25.0      76.0      99.0
1         39.0      65.0      70.0
2         59.0      45.0      77.0
3         84.0      63.0      38.0
4         66.0      50.0      52.0
      temperature  rainfall  humidity
9995         80.0      72.0      98.0
9996         27.0      58.0      60.0
9997         99.0      62.0      58.0
9998         70.0      71.0      91.0
9999         92.0      39.0      76.0
        temperature      rainfall      humidity
count  10000.000000  10000.000000  10000.000000
mean      59.841400     60.174300     60.106600
std       23.253574     23.302979     23.243276
min       20.000000     20.000000     20.000000
25%       40.000000     40.000000     40.000000
50%       60.000000     60.000000     60.000000
75%       80.000000     80.000000     80.000000
max      100.000000    100.000000    100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  10000 non-null  float64
 1   rainfall     10000 non-null  float64
 2   humidity     10000 non-null  float64
dtypes: float64(3)
memory usage: 234.5 KB
None
temperature    59.8414
rainfall       60.1743
humidity       60.1066
dtype: float64

#### **Mathematical Operations** on `DataFrames`

In [37]:
# Mean - Average
print(df.temperature.mean())

# Median - Middle value
print(df.temperature.median())

# Mode - Most frequent value
print(df.temperature.mode())

# Standard Deviation - How much the values are spread out
print(df.temperature.std())

# Variance - How much the values are spread out
print(df.temperature.var())

# Min - Lowest value
print(df.temperature.min())

# Max - Highest value
print(df.temperature.max())

# Quantile - Value below which a given percentage of observations in a group of observations fall
print(df.temperature.quantile(0.25))

# Count - Number of non-null values
print(df.temperature.count())

# Sum - Total sum of values
print(df.temperature.sum())

# Cumulative Sum - Cumulative sum of values
print(df.temperature.cumsum())

# Cumulative Max - Cumulative maximum of values
print(df.temperature.cummax())

# Cumulative Min - Cumulative minimum of values
print(df.temperature.cummin())

# Cumulative Product - Cumulative product of values
print(df.temperature.cumprod())

# Unique - Unique values
print(df.temperature.unique())

# Value Counts - Number of times each unique value appears
print(df.temperature.value_counts())

# Replace - Replace values
print(df.temperature.replace(0, 100))

59.8414
60.0
0    40.0
Name: temperature, dtype: float64
23.253574325507277
540.7287189118912
20.0
100.0
40.0
10000
598414.0
0           25.0
1           64.0
2          123.0
3          207.0
4          273.0
          ...
9995    598126.0
9996    598153.0
9997    598252.0
9998    598322.0
9999    598414.0
Name: temperature, Length: 10000, dtype: float64
0        25.0
1        39.0
2        59.0
3        84.0
4        84.0
        ...
9995    100.0
9996    100.0
9997    100.0
9998    100.0
9999    100.0
Name: temperature, Length: 10000, dtype: float64
0       25.0
1       25.0
2       25.0
3       25.0
4       25.0
        ...
9995    20.0
9996    20.0
9997    20.0
9998    20.0
9999    20.0
Name: temperature, Length: 10000, dtype: float64
0              25.0
1             975.0
2           57525.0
3         4832100.0
4       318918600.0
           ...
9995            inf
9996            inf
9997            inf
9998            inf
9999            inf
Name: temperature, Length: 10000, dtype: float64
[ 25.  39.  59.  84.  66.  41.  91.  49.  67.  85.  78.  31.  52.  28.
  32.  45.  80.  24.  20.  56.  93.  62.  87.  43.  44.  88.  27.  38.
  55.  26.  63.  21.  48.  40.  29.  35.  36.  97.  94.  47.  46.  69.
  33.  34.  92.  51. 100.  74.  79.  73.  68.  99.  53.  90.  81.  23.
  86.  58.  98.  37.  57.  96.  95.  70.  50.  89.  22.  30.  77.  83.
  72.  60.  82.  76.  65.  42.  64.  61.  54.  71.  75.]
40.0    151
37.0    148
72.0    146
35.0    145
80.0    144
       ...
63.0    103
83.0    101
25.0    101
47.0    100
34.0     98
Name: temperature, Length: 81, dtype: int64
0       25.0
1       39.0
2       59.0
3       84.0
4       66.0
        ...
9995    80.0
9996    27.0
9997    99.0
9998    70.0
9999    92.0
Name: temperature, Length: 10000, dtype: float64

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

#### **Phase-2**

1. [**Reading** and **writing** CSV data](#reading-and-writing-csv-data)
2. [**Querying**, **filtering** and **sorting** data frames](#querying-filtering-and-sorting-data-frames)
3. [**Grouping** and **aggregation** for data summarization](#grouping-and-aggregation-for-data-summarization)
4. [**Merging** and **joining data** from multiple sources](#merging-and-joining-data-from-multiple-sources)

#### **Reading** and **writing** CSV data

In [118]:
#### **Reading** and **writing** CSV data

# Read CSV
df = pd.read_csv('climate.txt')
print(df)

# Create blank CSV
df = pd.DataFrame()
df.to_csv('new.csv')
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': [6, 7, 8, 9, 10]})
df.to_csv('new.csv')
print(df)

# Add column
df['new'] = [1, 2, 3, 4, 5]
df.to_csv('new.csv')
print(df)

# Add row
df.loc[6] = [6]
df.to_csv('new.csv')
print(df)

# Delete column
df['col2del'] = [1, 2, 3, 4, 5, 6]
df.to_csv('new.csv')
print(df)
del df['col2del']
df.to_csv('new.csv')
print(df)

# Delete row
df = df.drop(6)
df.to_csv('new.csv')
print(df)

# Rename column
df = df.rename(columns={'new': 'new_col'})
df.to_csv('new.csv')
print(df)

      temperature  rainfall  humidity
0            25.0      76.0      99.0
1            39.0      65.0      70.0
2            59.0      45.0      77.0
3            84.0      63.0      38.0
4            66.0      50.0      52.0
...           ...       ...       ...
9995         80.0      72.0      98.0
9996         27.0      58.0      60.0
9997         99.0      62.0      58.0
9998         70.0      71.0      91.0
9999         92.0      39.0      76.0

[10000 rows x 3 columns]
   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10
   col1  col2  new
0     1     6    1
1     2     7    2
2     3     8    3
3     4     9    4
4     5    10    5

ValueError: cannot set a row with mismatched columns

#### **Querying**, **filtering** and **sorting** data frames

In [103]:
df = pd.read_csv('climate.txt')

# Query
print(df.query('temperature > 90'))

# Filter
print(df[df.temperature > 90])

# Sort
print(df.sort_values(by='temperature', ascending=False))

# Indexing
print(df.temperature[0])

# Slicing
print(df.temperature[0:5])

      temperature  rainfall  humidity
6            91.0      57.0      96.0
22           93.0      70.0      80.0
32           93.0      61.0      73.0
54           97.0      62.0      87.0
57           94.0     100.0      59.0
...           ...       ...       ...
9965         98.0      98.0      78.0
9982         92.0      63.0      60.0
9990         92.0      36.0      20.0
9997         99.0      62.0      58.0
9999         92.0      39.0      76.0

[1190 rows x 3 columns]
      temperature  rainfall  humidity
6            91.0      57.0      96.0
22           93.0      70.0      80.0
32           93.0      61.0      73.0
54           97.0      62.0      87.0
57           94.0     100.0      59.0
...           ...       ...       ...
9965         98.0      98.0      78.0
9982         92.0      63.0      60.0
9990         92.0      36.0      20.0
9997         99.0      62.0      58.0
9999         92.0      39.0      76.0

[1190 rows x 3 columns]
      temperature  rainfall  humidity
4180        100.0      67.0      55.0
4161        100.0      55.0      26.0
3017        100.0      67.0     100.0
3010        100.0      52.0      71.0
6462        100.0      64.0      66.0
...           ...       ...       ...
4836         20.0      94.0      84.0
3870         20.0      45.0      81.0
9216         20.0      43.0      50.0
1397         20.0      64.0      35.0
1362         20.0      49.0      68.0

[10000 rows x 3 columns]
25.0
0    25.0
1    39.0
2    59.0
3    84.0
4    66.0
Name: temperature, dtype: float64

#### **Grouping** and **aggregation** for data summarization

In [116]:
# Groupby
print(df.groupby('temperature').mean())

# Aggregation
print(df.agg(['min', 'max', 'mean', 'median', 'std', 'var']))

# Apply
print(df.temperature.apply(lambda x: x * 2))

# Map
print(df.temperature.map(lambda x: x * 2))

              rainfall   humidity
temperature
20.0         61.440299  58.402985
21.0         60.639344  58.901639
22.0         57.546296  59.546296
23.0         60.819672  62.598361
24.0         61.833333  59.468254
...                ...        ...
96.0         58.974359  56.914530
97.0         60.000000  60.981982
98.0         58.058394  59.021898
99.0         60.594203  60.065217
100.0        57.650000  57.183333

[81 rows x 2 columns]
        temperature    rainfall    humidity
min       20.000000   20.000000   20.000000
max      100.000000  100.000000  100.000000
mean      59.841400   60.174300   60.106600
median    60.000000   60.000000   60.000000
std       23.253574   23.302979   23.243276
var      540.728719  543.028822  540.249861
0        50.0
1        78.0
2       118.0
3       168.0
4       132.0
        ...
9995    160.0
9996     54.0
9997    198.0
9998    140.0
9999    184.0
Name: temperature, Length: 10000, dtype: float64
0        50.0
1        78.0
2       118.0
3       168.0
4       132.0
        ...
9995    160.0
9996     54.0
9997    198.0
9998    140.0
9999    184.0
Name: temperature, Length: 10000, dtype: float64

#### **Merging** and **joining data** from multiple sources

In [115]:
# Merge
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],    
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

frames = [df1, df2, df3]
result = pd.concat(frames)
print(result)

# Concat
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

result = pd.concat([df1, df4], axis=1, sort=False)
print(result)

# Join
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

result = pd.merge(left, right, on='key')
print(result)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3